.playerCard {  /* This will be transformed into a unique class name */
    border: 1px solid black; /* Added border */
    border-radius: 5px;
    padding: 10px;        /* Added padding */
    margin-bottom: 10px; /* Added margin */
    width: 300px;
    height: 200px;
  }

.inputBox {
    height: 2rem;
    width: 40rem;
    border: 2px solid black;
    border-radius: 1rem;
}

.button {
  background-color: black; 
  border: none;
  color: white;
  padding: 10px 25px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 15px;
}